{% extends 'base.html' %}
{% block content%}
{{ block.super}}

<div class="container-fluid">
    <div class="row">
        {% for images in image %}
    <!-- {{images.image.url}} -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" style=" box-shadow: 0 4px 8px 0 rgba(11, 10, 14, 0.87)">
                  <a href="" data-toggle="modal" data-target="#staticBackdrop{{images.id}}"><img src="{{images.image.url}}" alt="img show" class="img-responsive styled"></a>
                </div>
                <div class="panel-footer text-center" style="font-family: 'Gabriela', serif;"><b>{{images.name}}</b>
                </div>
            </div>
    
       

            <div class="modal fade" id="staticBackdrop{{images.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="staticBackdropLabel text-center" style="font-family: 'Gabriela', serif;">{{images.name}}</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>

                        <div class="modal-body">
                            <img src="{{images.image.url}}" alt="img show" class="img-responsive" style=" box-shadow: 0 4px 8px 0 rgba(11, 10, 14, 0.87)">
                        </div>

                        <div class="modal-footer">
                            <div class="col-md-4" style="font-family: 'Gabriela', serif;">
                                <p><b>Description:</b> {{images.description}}</p>
                            </div>

                            <div class="col-md-4" style="font-family: 'Gabriela', serif;">
                                <p><b>Location:</b> {{images.location}}</p>
                            </div>
                        </div>

                        <div class="modal-footer row">
                            <!-- <div class="col-md-6">
                              <input type="text" value="https://praisegallery.herokuapp.com/images/{{photos.id}}" id="myInput">
                              <button type="button" class="btn btn-info" onclick="myFunction()">Copy Link</button>
                            </div>

                            <div class="col-md-4">
                              <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            
        </div>

        {% endfor %}
    
    </div>
</div>

{% endblock %}